#link-btn,
#sign-in-btn {
  text-transform: none;
  font-weight: bold;
}

#login-form,
#registeration-form,
#resetpassword-form,
#forgotpassword-form {
  width: 40%;
  margin: 2% auto;
}
#registeration-form {
  width: 50%;
}
.multicolortext {
  background-image: linear-gradient(
    to left,
    red,
    green,
    blue,
    orange,
    red,
    blue
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}